<div>
	<div>
		<div>
			<div>
				<h4><i class="fa fa-check-circle-o"></i>加入购物车成功!</h4>
				<div>
					<div>
						<a href=""><%= image_tag @product.image.url(:cover), class: 'media-object', alt: @product.name %></a>
					</div>
					<div>
						<h4><%= @product.name %></h4>
						数量: <%= @shopping_cart.amount %>
					</div>
				</div>
			</div>
			<div>
				<button>继续购物</button>
				<%= link_to "查看购物车", shopping_cart %>
			</div>
		</div>
	</div>
</div>