<ul class="list-group">
	<% @categories.each do |group| %>
		<li class="list-group-item"><%= group.title %></li>
		<% group.children.each do |sub_category| %>
			<li class="list-group-item">
				<% if params[:id].to_i == sub_category.id %>
				<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
				<% end %>
				<a href="<%= category_path(sub_category) %>"><%= sub_category.title %></a>
				</li>
		<% end %>
	<% end %>
</ul>