
    <ul>
        <li class="clearfix">
            <div class="fl a">省份</div>
            <div class="fl b">
                <div class="new-select-wp" id="prov">
                    <select class="select-31" id="prov_select" name="prov"><option value="">请选择...</option></select>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <div class="fl a">市</div>
            <div class="fl b">
                <div class="new-select-wp" id="city">
                    <select class="select-31" id="city_select" name="city"><option value="">请选择...</option></select>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <div class="fl a">区/县</div>
            <div class="fl b">
                <div class="new-select-wp" id="region">
                    <select class="select-31" id="region_select" name="region"><option value="">请选择...</option></select>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <div class="fl a">具体地址</div>
            <div class="fl b">
                <textarea id="address" name="address" class="text" placeholder="请填写具体地址" required=""></textarea>
            </div>
        </li>
    </ul>
