
    <ul>
        <li class="clearfix">
            <div class="fl a">省份</div>
            <div class="dropdown">
                <div class="#" id="prov">
                    <select class="form-control" id="prov_select" name="prov"><option value="">请选择...</option></select>
                </div>
            </div>
        </li>


        <li class="clearfix">
            <div class="fl a">市</div>
            <div class="fl b">
                <div class="new-select-wp" id="city">
                    <select class="form-control" id="city_select" name="city"><option value="">请选择...</option></select>
                </div>
            </div>
        </li>


        <li class="clearfix">
            <div class="fl a">区/县</div>
            <div class="fl b">
                <div class="new-select-wp" id="region">
                    <select class="form-control" id="region_select" name="region"><option value="">请选择...</option></select>
                </div>
            </div>
        </li>


        <li class="clearfix">
            <div class="fl a">具体地址</div>
            <div class="fl b">
                <input id="address" name="address_detail" class="form-control" placeholder="请填写具体地址" required=""></input>
            </div>
        </li>
    </ul>
